/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

public/media/img-slider/Nueva imagen_img2.jpg
public/media/img-producto/Coca Cola_Coca-Cola.jpg
public/media/img-producto/Manzanita sol_0750103136004L.jpg
public/media/img-producto/sdfsdf_modelar-botella-agua-fontvella.jpg
public/media/img-producto/Pan bimbo_pan03.jpg